
<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<title><%=title%></title>

	<link rel="stylesheet" href="/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="/js/jquery.min.js"></script>
	<script src="/js/angular.min.js"></script>
	

	<!-- Latest compiled JavaScript -->
	<script src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/angular.js"></script>
</head>
<body>
<div style="min-height: 500px;height: auto">
		<%-include(pagename);%>
	</div>
</body>
</html>